{% extends "base.html" %}
{% block title %} About{% endblock %}
{% block content %}
    <h2>About the application</h2>
    <p>The main use case of the project is the evaluation of databases performance, which stores invoice data in JSON/JSONB formats. Application’s business logic consist of recording and evaluating the performance of both PostgreSQL and MongoDB when processing invoices in JSON format. For outputting performance of both databases, a simple web interface is created.</p>
    <br/>
    <ul>
        <li>
            <p>Martin Sisák, 445384</p>
        </li>
        <li>
            <p>Pavol Pľuta, 500348</p>
        </li>
        <li>
            <p>Marko Jovic, 501451</p>
        </li>
        <li>
            <p>
                <b>Martin Balucha</b>, 455957
            </p>
        </li>
    </ul>
{% endblock %}